{
	"data": "ENC[AES256_GCM,data:LgBEJYdptarszuBowyT+m+2PZr4U9j4SO/Rk7ytspzN2/AeFTpivrEYlCK7X/58WZral9NBv/2OeutYqrOcelFfnsX6TNFIoB7uJdSysaC3j403wX4aahZpgYMryFotqpQOhMPnrMuT93qsXMiUgBSiLjdJKQGmmm0St3rHKiTc7/r6BnkjhMj6RABsEVwPw2Q4oHx1yEd3GrKK+qW91I2bgRNr38o0uFMYUU3kTKitMQ0U49peLQzPCl8lRKfQbs1YAkCu+YRr20guTcxAheZX8IEoLBwwDGLHq9QNSLGweInMs8xgWRdDWojhVoOcX8XI8TFq1aoHI5dNItzDdVFAB0Yj+0OwZOCond6lAWbdPiZdebJAlLOdpdfQ2hGEkbReISKKrNw9g8LJNXTF8At8PcNBYjXejMb7s578kbXsvzV2/UbsCiBjjZSS31XJDDAN8FFARYmR7WDh/A5koqV80Q9pTU0JSdkmxX7QGgdVN4/EAR+ikFi4YrN/r8utvBdPgFNbZSRhDx1v+xo94TCW28aZh5KgUsXAsLXGB2eQOd//o97qbrCle0p9GxplPVuTwWILReDGYYJtj+52WYbKr1xxdMDSQHD+3fX+QNmMlDwOaEnhPAw==,iv:kfHTcXhomR1w+oi8Gc2ulzOVcePhrRiugbER3+KGMiI=,tag:VlxvzzvNXqLx4xOawjPLoA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1eqmr908nfnn7p5qly0r2a4v89w3z046vvk6cccdcy69zkvk9nqvsejm3cp",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3S3FNbVNmdnJlQVR5MURY\nSHlJUVcrdGxLcmhBajFLSmhMamcySlplTkFJCldadWtwOE5rS1FROVUzeWEyakw0\ndmNObzE5bHJVVnQxQm9nemRSWVFIWHMKLS0tIENndmxTRkQyK3QreVNwc0hXKy9W\nYlJBTnRRQ3g4MC8wQWtHcTVFRU9tcjAKTWUcUVlTvT5DCxd88Lxg+ahNBbb/6YhH\n+6K1Boz47eq4XmTTdN0KI0dJbJNYrDB0J5/ODvVR7gh2q+O24Puzrg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-02-15T04:45:38Z",
		"mac": "ENC[AES256_GCM,data:vEGGhCVBSGw0r+gNGmX1qF6jTd5wVtxIcafbBfvWfRtfSEz4m0KUd9iVfjYh0NjeMkStv/iVUPtw0a7HKERfmMR+GfdEyVAmcGAxJeasvrf7PRO8tJ1yc7N4eoP1q4WmImzJskC/eWprdalTc3KE76/eRgAJ6Y0f802qA+Q2YZQ=,iv:litJtXDAoIRCepukYj1MA/MWreMPYKT37T9AIDEjCRU=,tag:geX5pmT8fj4CkUhseyhovw==,type:str]",
		"version": "3.11.0"
	}
}
