@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  caret-color: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pingfang: PingFang SC, system-ui, sans-serif;
  --font-inter: var(--font-inter);
  --font-source-serif-4: var(--font-source-serif-4);
  --font-bebas-neue: var(--font-bebas-neue);
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 271 100% 64%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  html.dark {
    background-color: rgba(255, 255, 255, 1);
    background: unset;
  }
  .dark {
    --background: 0 0% 94.5%;
    --foreground: 0 0% 0%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 271 100% 64%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ant-notification-notice-message {
  font-size: fluidSize(14, 16) !important;
  color: #000 !important;
}

.ant-notification-notice-description {
  font-size: fluidSize(12, 14) !important;
  color: #000 !important;
  opacity: 0.5 !important;
}

.ant-notification-notice-progress {
  border-color: #000 !important;
}

.ant-notification-bottom {
  bottom: 100px !important;
}

.ant-notification-notice-wrapper {
  border-radius: 16px !important;
}

[role="dialog"][data-state="open"][id^="radix-"] {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
